.label-block {
    display: block;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.menu-container button {
    white-space: nowrap;
}